In [1]:
import requests
import pandas as pd

In [2]:
# ✅ Forbes Billionaires JSON API
url = "https://www.forbes.com/forbesapi/person/rtb/0/-estWorthPrev/true.json?fields=rank,personName,lastName,gender,source,industries,countryOfCitizenship,finalWorth"

In [3]:
# ✅ Headers to mimic a real browser request
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

In [4]:
# ✅ Fetch the JSON data
response = requests.get(url, headers=headers)

In [5]:
# ✅ Fetch the JSON data
response = requests.get(url, headers=headers)

In [6]:
# ✅ Parse the JSON response
data = response.json()

In [7]:
# ✅ Extract billionaire list
billionaires = data['personList']['personsLists']

In [8]:
# ✅ Convert to DataFrame
df = pd.DataFrame(billionaires)

In [9]:
# ✅ Keep only relevant columns
df = df[['rank', 'personName', 'lastName', 'gender', 'source', 'industries', 'countryOfCitizenship', 'finalWorth']]

In [10]:
# ✅ Rename columns for readability
df = df.rename(columns={
    'rank': 'Rank',
    'personName': 'Name',
    'lastName': 'Last Name',
    'gender': 'Gender',
    'source': 'Source',
    'industries': 'Industries',
    'countryOfCitizenship': 'Country',
    'finalWorth': 'Net Worth (Billion $)'
})

In [11]:
# ✅ Convert Net Worth to Billion Format (1 decimal place)
df['Net Worth (Billion $)'] = df['Net Worth (Billion $)'] / 1000  # Convert from million to billion
df['Net Worth (Billion $)'] = df['Net Worth (Billion $)'].apply(lambda x: round(x, 1))  # Keep 1 decimal place

In [12]:
# ✅ Save to CSV
df.to_csv("forbes_billionaires.csv", index=False)

In [13]:
# ✅ Print sample data
print("Scraped and saved Forbes billionaire data successfully!")
print(df.head())

Scraped and saved Forbes billionaire data successfully!
   Rank                      Name   Last Name Gender         Source  \
0     1                 Elon Musk        Musk      M  Tesla, SpaceX
1     2                Jeff Bezos       Bezos      M         Amazon
2     3           Mark Zuckerberg  Zuckerberg      M       Facebook
3     4             Larry Ellison     Ellison      M         Oracle
4     5  Bernard Arnault & family     Arnault      M           LVMH

           Industries        Country  Net Worth (Billion $)
0        [Automotive]  United States                  404.6
1        [Technology]  United States                  251.2
2        [Technology]  United States                  245.7
3        [Technology]  United States                  214.7
4  [Fashion & Retail]         France                  186.0